In [1]:
import sys
import random
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.cluster import KMeans

sys.path.append('../src')
import const
import factory
from utils import DataHandler

import warnings
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv(const.INPUT_DATA_DIR / 'train.csv', dtype=const.DTYPE, nrows=10**4)
question_df = pd.read_csv(const.INPUT_DATA_DIR / 'questions.csv')

q2p = dict(question_df[['question_id', 'part']].values)
train_df['part'] = train_df['content_id'].map(q2p)

In [3]:
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,part
0,0,0,115,5692,0,1,3,1,NaN,<NA>,5.0
1,1,56943,115,5716,0,2,2,1,37000.0,False,5.0
2,2,118363,115,128,0,0,0,1,55000.0,False,1.0
3,3,131167,115,7860,0,3,0,1,19000.0,False,1.0
4,4,137965,115,7922,0,4,1,1,11000.0,False,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,2868187305,91216,1124,0,775,0,0,18000.0,True,2.0
9996,9996,2868272689,91216,810,0,776,0,1,18000.0,True,2.0
9997,9997,2868367298,91216,1245,0,777,0,1,17000.0,True,2.0
9998,9998,2868439137,91216,711,0,778,3,1,17000.0,True,2.0
9999,9999,2868510836,91216,1123,0,779,3,1,16000.0,True,2.0

In [ ]:
usecols = [
    'row_id', 'timestamp', 'user_id', 'content_id', 'content_type_id', 'answered_correctly', 'part'
]

train_df = train_df[usecols]
train_df = pd.get_dummies(train_df, columns=['part'])
train_df['part'] = train_df['content_id'].map(q2p) - 1
train_df['part'] = train_df['part'].fillna(-1).astype(np.int32)

In [ ]:
train_df

In [ ]:
train_df['part'].unique()

In [ ]:
import git
import os.path
import datetime
import pytz

In [ ]:
repo = git.Repo(search_parent_directories=True)
sha = repo.head.object.hexsha

In [ ]:
sha

In [5]:
a = np.array([np.nan, 1, 3, np.nan])

2